//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


// editions by Agata Smialowska 5v2023
// to allow for submitting tasks to SLURM


params {
    help = false
    fastq = null
    ref_genome = null
    ref_annotation = null
    transcriptome_source = "reference-guided"
    threads = 4
     // Thresholds for viewing isoforms in report table
    isoform_table_nrows = 5000
    

    out_dir = "output"
    sample = null
    sample_sheet = null
    aws_image_prefix = null
    aws_queue = null
    process_label = "isoforms"
    analyse_unclassified = false
    version = false

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf,process_label'

    // Process cDNA reads using pychopper, turn off for direct RNA:
    direct_rna = false
    // Options passed to pychopper:
    pychopper_opts = "-m edlib"

    // Extra option passed to minimap2 when generating index
    minimap_index_opts = "-k14"

    // Extra options passed to minimap2
    // For SIRV data
    //minimap2_opts = "-uf --splice-flank=no"
    // AFor non-SIRV data:
    minimap2_opts = "-uf"

    // Minmum mapping quality - for transcriptome quantification - setting as in the original wf-transcriptomes pipeline
    minimum_mapping_quality = 40

    // Internal priming filter context size:
    poly_context = 24

    // Maximum allowed poly(A) length in the genome near the 3' end of mapping:
    max_poly_run = 8

    // Minimium number of reads in BAM bundles:
    bundle_min_reads = 50000

    // Options passed to stringtie:
    stringtie_opts = " --conservative "

    // Options passed to gffcompare:
    gffcompare_opts = " -R "

    // Plot gffcompare results:
    plot_gffcmp_stats = true

    disable_ping = false

    //// Denovo-specific parameters
    
    isOnClust2_batch_size = -1
    isOnClust2_sort_options = "--batch-size -1 --kmer-size 11 --window-size 15 --min-shared 5 --min-qual 7.0 --mapped-threshold 0.65 --aligned-threshold 0.2 --min-fraction 0.8 --min-prob-no-hits 0.0 -M -1 -P 500 -g 50 -c 150 -F 2"

    ////// Fusion detection parameters
    jaffal_refBase = null
    jaffal_genome = "hg38"
    jaffal_annotation = "genCode22"
    // The default location of the JAFFA src directory when running in EPI2ME-Labs environment
    // This needs overriding if running elsewhere
    jaffal_dir = "/home/epi2melabs/JAFFA"

    // de options
    de_analysis = false
    condition_sheet = "test_data/condition_sheet.tsv"
    ref_transcriptome = null
    min_samps_gene_expr	= 3
    min_samps_feature_expr = 1 
    min_gene_expr = 10
    min_feature_expr = 3  


    wf {
      example_cmd = [
          "--fastq test_data/fastq",
          "--ref_genome test_data/SIRV_150601a.fasta",
          "--ref_annotation test_data/SIRV_isofroms.gtf",
          "--jaffal_refBase chr20/",
          "--jaffal_genome hg38",
          "--jaffal_annotation genCode22"
      ]
    agent = null
    container_sha = "sha203915eb4b4dd444cb2e845d0b9f7814e26b7b5c"
    }
}

manifest {
    name            = 'epi2me-labs/wf-transcriptomes'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-transcriptomes'
    description     = 'Transcriptome analysis including gene fusions, differential expression as well as assembly and annotation of cDNA and direct RNA sequencing data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.1.10'
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}

epi2melabs {
  tags = "isoforms, transcriptomics, denovo"
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    process.executor = 'slurm' 
    
    // proj specific for this version of nextflow
    singularity.libraryDir="/proj/naiss2023-23-205/nobackup/private/nbis6556/software/containers"
    singularity.cacheDir="/proj/naiss2023-23-205/nobackup/private/nbis6556/software/containers"

    }


    conda {
        conda.enabled = true
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:isoforms {
                container = "${params.aws_image_prefix}-wf-transcriptomes:${params.wf.container_sha}-root"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // slurm
    slurm {
        process {
            executor = 'slurm' 
            //scratch = true
            maxRetries     = 3
            errorStrategy  = 'retry'
            clusterOptions = {"-A $params.clustalloc"}
            cpus = { 4 * task.attempt }
            queue = 'core'
            time = { 6.h * task.attempt }
 
           withLabel:isoforms {
                container = "/proj/naiss2023-23-205/nobackup/private/nbis6556/software/containers/ontresearch-wf-transcriptomes-sha203915eb4b4dd444cb2e845d0b9f7814e26b7b5c.img"
            }

           withLabel:xenofilter {
                container = "/proj/naiss2023-23-205/nobackup/private/nbis6556/software/containers/agatasm-xenofilter.img"
            }

        }
    }    


    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:isoforms {
        container = "ontresearch/wf-transcriptomes:${params.wf.container_sha}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']

    // more CPUs for JAFFAL, needs at least double the default 4; also other jobs failing possibly due to oom
    withName:gene_fusions:jaffal{
        cpus = 10
        memory = "64 GB"
        maxRetries     = 1
    }

    withName:preprocess_reads{
        cpus = 6
        maxRetries     = 2
    }

    withName:reference_assembly:map_reads{
        cpus = 6
        maxRetries = 2
        time = 5.h
    }
}




timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
}
