//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
// 
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


process {
    withLabel:containerCPU {
        container = 'workflow-template:latest'
    }
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // profile using conda environments rather than docker
    // containers
    conda {
        docker {
            enabled = false
        }
        process {
            conda = "environment.yaml"
        }
        conda {
             cacheDir = ""
        }
    }
}
